apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlops-proyecto-final
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/tux1984/MLOps.git
    targetRevision: HEAD
    path: proyecto_final/kubernetes
  
  destination:
    server: https://kubernetes.default.svc
    namespace: mlops-final
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas

  info:
    - name: 'Project'
      value: 'MLOps Proyecto Final - Sistema de Inferencia'
    - name: 'Repository'
      value: 'https://github.com/tux1984/MLOps'
